*.stl

*.eps
*.png
*.py
*.mat
*.pkl
*myexamples

output*

isosingular_summary
*.out
rawout*
regenSummary
startRPD*
witness_data_*
member_points
main_data
midout*
midpath_data
preproc_data
BRinfo*
Dir_Name

*_solutions
start
start_parameters
failed_paths
final_parameters
func_input
func_input_rand
config_real
func_input_real
raw_data
nonhom_start
witness_superset*
witness_points*
incidence_matrix
fail
input_membership_test
input_stabilization_test
input_critslice*
input_midslice*
input_critical_curve
derivative_polynomials_declaration
matlab_nullspace*
deflation_polynomials*
input_dim*
*_dehomogenized
matlab_deflate.m
input_surf_sphere
input_singcurve*
deflation_input_file
W_curve

nullspace_left_output
nullspace_left_midpath_data
