bertini_real-*.tar.gz



*.fls
*.bbl
*.glo
*.ilg
*.ind
*.ist
*.xdy
*.fdb_latexmk
*.blg
*.acn

*.mat

*.pyc

*sublime-workspace



partitionParse.c

sampler
!sampler/
bertini_real
!bertini_real/
libpartitionParse*

generated_documentation

*.cache*





traces*
Makefile
Makefile.in
install-sh
ltmain.sh
missing
ylwrap
config/*
configure
config.h*
aclocal*
requests
config
config.*
libtool*
ltsugar*
ltoption*
lt-*
stamp-*
lt~*
ltversion*
.dirstamp

.libs
.deps
*.a
*.la
*.Po
*.o
*.lo
*.o-*
